:root {
  --title-color: #322153;
  --bg-color: #f0f0f5;
  --primary-color: #34cb79;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h6,
h6 {
  color: var(--title-color);
  font-family: "Ubuntu", sans-serif;
}
